{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Umut Seven">

    <title>Sentweet{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://s3.amazonaws.com/sentweet-s3/css/base.css" type="text/css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"> <i class="fa fa-twitter"></i>&nbsp;&nbsp;Sentweet</a>
    </div>
</nav>

<!-- Page Content -->
{% block pagecontent %}
{% endblock %}

<!-- Bitcoin Modal -->
<div class="modal fade" id="btcModal" tabindex="-1" role="dialog" aria-labelledby="btcModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="btcModalLabel">Donate Bitcoin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If you like this project, and would like to donate, our Bitcoin address is:
                <br>
                <br>
                <span><b>14J7nTUpRcT5FJo4ZMzyAamp2c17Ajmohu</b></span>
                <br>
                <br>
                <img src="https://s3.amazonaws.com/sentweet-s3/images/btc.png" alt="BTC">
                <br>
                <br>
                Thank you!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About</h4>
                <p>Sentweet is a sentiment analyzer that uses Twitter to give you an idea about how people feel about a certain topic.</p>
            </div>
            <div class="col-sm-4">
                <h4>How to Use</h4>
                <p>Just input your search term and your date range and press Submit. </p>
            </div>
            <div class="col-sm-4">
                <div class="social-networks">
                    <a href="https://github.com/umutseven92/SWE573" class="github"><i class="fa fa-github"></i></a>
                    <a href="mailto:umutseven92@gmail.com" class="mail"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="btc" data-toggle="modal" data-target="#btcModal"><i class="fa fa-btc"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Made with <i class="fa fa-heart"></i> by Umut Seven</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block script %}
{% endblock %}

</body>

</html>
