{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Sentiment Score for {{ search_term }}</h1>
                <p class="lead positive">Positive Score: {{ positive_score }}</p>
                <p class="lead negative">Negative Score: -{{ negative_score }}</p>
                {% if total_score > 0 %}
                    <p class="lead positive">Total Score: {{ total_score }}</p>
                {% else %}
                    <p class="lead negative">Total Score: {{ total_score }}</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
