{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
    {% block style %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"
                type="application/javascript"></script>
        <script src="{% static '/js/index.js' %}" type="application/javascript"></script>
    {% endblock %}
</head>
<body>
{% block pagecontent %}
    <div>
        <!--
        <div style="width: 60%">
            <canvas id="result_chart"></canvas>
        </div>
        -->
        <div style="margin-top: 2em">
            <form action="{% url 'pulse:index' %}" method="post">
                {% csrf_token %}
                <div class="inputwrap">
                    <label for="search_term_input">Search Term</label>
                    <input type="text" name="search_term" id="search_term_input" required/>
                </div>
                <div class="inputwrap">

                    <label for="start_date_input">Start Date</label>
                    <input type="date" name="start_date" id="start_date_input" required/>
                </div>
                <div class="inputwrap">
                    <label for="end_date_input">End Date</label>
                    <input type="date" name="end_date" id="end_date_input" required/>
                </div>
                <div style="margin-top: 1em">
                    <input type="submit" value="Load"/>
                </div>
            </form>
        </div>

    </div>
    <script>
        var res = "{{ result }}";

        if (res !== "") {
            drawChart(res);
        }
    </script>

{% endblock %}

</body>
</html>
