{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <div>
        <div id="main_chart">
            <canvas id="result_chart"></canvas>
        </div>
        <div class="container" id="main_container">
            <div class="row">
                <div id="main_form" class="col-md-3">
                    <form action="{% url 'pulse:index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="search_term_input">Search Term</label>
                            <input type="text" class="form-control" name="search_term" placeholder="{{ trend }}" id="search_term_input" required/>
                        </div>
                        <div class="form-group">
                            <label for="start_date_input">Start Date</label>
                            <input type="text" id="start_date_input" name="start_date" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="end_date_input">End Date</label>
                            <input type="text" id="end_date_input" name="end_date" class="form-control" required/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-8" id="summary_col">
                    <h2>Summary</h2>
                    <p>{{ summary }}</p>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"
            type="application/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="application/javascript"></script>
    <script src="{% static 'js/index.js' %}" type="application/javascript"></script>
    <script>
        var res = "{{ result }}";

        if (res !== "") {
            drawChart(res);
        }
        else
        {
            drawEmptyChart();
        }
    </script>
{% endblock %}
</body>

</html>
